.header {
  display: flex;
  align-items: center;
  min-height: 120px;

  .logo {
    display: inline-block;
    margin-right: 1rem;

    img {
      width: 100px;
      margin: 23px 0;
    }
  }

  .main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;

    li {
      padding: 0;
      margin: 0;
      display: inline-block;
      font-size: 13px;

      &.menu-item-12 {
        a {
          color: $main-color !important;
        }
      }

      @include media-breakpoint-down(md) {
        display: none;

        &.menu-item-12,
        &.menu-item-13 {
          display: inline-block;
          font-size: 100%;

          a {
            padding: 0.5rem;
          }
        }
      }

      a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 1rem .5rem;
      }
    }
  }

  .callback {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-top: 18px;
    margin-bottom: 18px;

    .phone {
      font-size: 24px;
      a.tel{
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        background: none !important;
        border: none !important;
        border-bottom: 1px dashed #000 !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 10px;
        &:hover{
          color: #555 !important;
        }
      }
    }

    a {
      @extend .btn;
      @extend .btn-primary;
    }
  }

  @include media-breakpoint-down(lg) {
    .logo,
    .main-menu,
    .callback {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
}
