/* Front-page */

.hero {
  padding: 4rem 0;
  color: #fff;

  .action {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }

  h1,
  .action {
    span {
      color: $primary;
    }
  }

  .bg-wrapper {
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.498039);

    h1 {
      text-align: left;
      font-weight: normal;
      margin: 2rem 0;
      font-size: 72px;

      @include media-breakpoint-down(lg) {
        font-size: 60px;
      }

      @include media-breakpoint-down(md) {
        margin-top: 0;
        font-size: 60px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 40px;
      }
    }
  }

  .col,
  .col-lg-4 {
    @extend .my-auto;
  }
}
